body{
    background-color: white;
}

header { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.foto-logo {
    width: 10%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-insta {
    width: 3%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-zap {
    width: 3%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
img{
    width: 60%;
}

.Produtos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}