body{
    background-color: white;
}

header { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

img{
    width: 90%;
}

.Produtos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}