body{
    background-color: white;
}

header { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.foto-colher{
    width: 50%;
}
.foto-sojao{
    width: 25%;
}
.foto-cafezao{
    width: 25%;
}
.foto-melancia{
    width: 25%;
}

.produtos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}